

<div class="container" style="margin-top:17%;margin-left:17%">
  <h1 style="color:white"> About Chitter </h1>
  <h3 style="color:white"> This website is a clone made during Makers Academy to practice CSS and HTML, Datbases, Jquery, Javascript and more! </h3>
  <h3 style="color:white"> Find out more about Makers Academy by clicking here:</h3>
<p><a href="http://www.makersacademy.com"><img src="/images/logo.png"></a></p>
  <h6 style="display:table-cell;vertical-align:bottom"><a href="https://github.com/HannahCarney">©HannahCarney</a></h6>
</div>
