<div class="container" style="margin-top:12%;margin-left:12%">
<div class="container" style="float:left;width:40em;margin-right:1em">
  <h1 style="color:white"> Contact Chitter </h1>
  <h3 style="color:white"> This form sends a real email to me, but don't be afraid to say hi. Please report any bugs here, thank you! </h3>
  <h6 style="display:table-cell;vertical-align:bottom"><a href="https://github.com/HannahCarney">©HannahCarney</a></h6>
</div>


<div class="container">
<div class="jumbotron" style="float:left;background:rgba(225, 225, 225, 0.8);color:white;width:40em">
<div class="input group">

<h2 style="color:white;text-align:center"> Contact Chitter </h2>

  <form action="/contact" method="post">
     <label for "name"> Name: </label><input class="form-control" name="name" type="text">
     <label for "email"> Email: </label><input class="form-control" name="email" type="text" type="email">
     <label for="message">Message:</label><input class="form-control" name="message" type="text" placeholder="Hi Chitter…"></textarea>
      <label for="reasons">Reason for contacting</label>
        <select class="form-control" name="reasons">
          <option value="Questions">Questions</option>
          <option value="Admiration">Admiration</option>
         <option value="Can I get your number?">Can I get your number?</option>
        </select>
        <p></p>
      <button type="button" class="btn btn-default btn-lg" type="submit" name="Sign up" value="Sign up" id="submit">Send
   </form>
 </div>
</div>
</div>
 



