<div class="container" style="float:none;margin:0 auto">
<div class="container" style="float:left;width:40em;margin-top:10%">
  <h2 style="color:white"> Contact Chitter </h1>
  <h4 style="color:white"> This form sends a real email to me </h4>
  <h4 style="color:white"> Please report any bugs here, thank you! </h4>
  <h6 style="display:table-cell;vertical-align:bottom"><a href="https://github.com/HannahCarney">©HannahCarney</a></h6>
</div>


<div class="container">
<div class="jumbotron" style="float:left;background:rgba(225, 225, 225, 0.8);color:white;width:40%;margin-top:10%">
<div class="input group">

<h3 style="color:white;text-align:center"> Contact Chitter </h3>

  <form action="/contact" method="post">
     <label for "name"> Name: </label><input class="form-control" name="name" type="text">
     <label for "email"> Email: </label><input class="form-control" name="email" type="text" type="email">
     <label for="message">Message:</label><input class="form-control" name="message" type="text" placeholder="Hi Chitter…"></textarea>
      <label for="reasons">Reason for contacting</label>
        <select class="form-control" name="reasons">
          <option value="Questions">Questions</option>
          <option value="Admiration">Admiration</option>
         <option value="Can I get your number?">Can I get your number?</option>
        </select>
        <p></p>
      <button type="button" class="btn btn-default btn-lg" type="submit" name="Sign up" value="Submit" id="submit">Send
   </form>
 </div>
</div>
</div>
 



