

<!DOCTYPE html>
<% title="Chitter" %>
<html lang="en">
<head>
  <title><%= @title || "Chitter" %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap 101 Template</title>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script type="text/javascript">

var image1 = new Image()
image1.src="/background/0.jpg"

var image2 = new Image()
image2.src="/background/4.jpg"

var image3 = new Image()
image3.src="/background/1.jpg"

var image4 = new Image()
image4.src="/background/2.jpg"

var image5 = new Image()
image5.src="/background/3.jpg"


</script>
  
</head>

  <header>


       
      <nav class="collapse navbar-collapse bs-navbar-collapse " role="navigation" style="background-color:white;background:rgba(255, 255, 255, 0.8)">
                <ul class="nav navbar-nav" style="font-size:1em;margin-left:2em">
                    <li class="active">
                        <a href="/"> Home </a>
                    </li>
                    <li>
                        <a href="/contact"> Contact </a>
                    </li>
                </ul>
                </div>
              </div>
              <div class="navbar-form navbar-right" style="font-size:1em">
                  <form method="post" action="/sessions">
                    <label class="hidden placeholder-text"> Email or Username</label>
                    <input class="input" type="text" placeholder="Email or Username" name="username" data-original-title="" title=""></input>
                    <label class="hidden placeholder-text"> Password </label>
                    <input class="input" type="password" placeholder="Password" name="password" data-original-title="" title=""></input>

                    <input id="login-btn submit" href="javascript:;" type="submit" value="Log In">
                      <span class="glyphicon glyphicon-lock"></span></a>
                  </form>
                    <a id="forgot-btn" href="javascript:;" style="float:right"> Forgot password? </a>
                </div>   
            </div>
          </nav>
        </div>
    

    </header>
  <body>
  <div style='position:absolute;z-index:-100;left:0;top:0;width:100%;height:100%'>
    <img src="/background/0.jpg" name="slide" style='width:100%;height:100%' alt='[]'>
  </div>
  <script type="text/javascript">

  var step=1
  function slideit() {
  document.images.slide.src=eval("image" + step + ".src")
  if(step<5)
    step++
  else 
    step=1
    setTimeout("slideit()", 10 * 1000)
  }
  slideit()

  </script>
    



 <% if flash[:errors] && !flash[:errors].empty? %>
   <div id="errors" style="text-align:center" class="alert alert-danger" role="alert" id="notice">
     <span class="glyphicon glyphicon-exclamation-sign" area-hidden="true"></span>
     <span class="sr-only">Error:</span>
      <% flash[:errors].each do |error| %>
         <%= error %>
    </div>
      <% end %>
    </ul>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-danger" role="alert" id="notice">
      <span class="glyphicon glyphicon-exclamation-sign" area-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:notice] %>
    </div>
  <% end %>
   <%= yield %>
 
</body>
</html>


