

<!DOCTYPE html>
<% title="Chitter" %>
<html lang="en">
<head>
  <title><%= @title || "Chitter" %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap 101 Template</title>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

var image1 = new Image()
image1.src="/background/0.jpg"

var image2 = new Image()
image2.src="/background/1.jpg"

var image3 = new Image()
image3.src="/background/2.jpg"

var image4 = new Image()
image4.src="/background/3.jpg"

var image5 = new Image()
image5.src="/background/4.jpg"

var image6 = new Image()
image5.src="/background/5.jpg"

</script>
  
</head>

  <header>


<div class="head-container clearfix" style="visibility: visible;">

    <div class="topbar">
        <div class="middle container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">

                        Toggle navigation

                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse " role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">


                                          Home            

                        </a>
                    </li>
                    <li>
                        <a href="/about">


                                          About          

                        </a>
                    </li>
                    <li>
                        <a href="/contact">


                                          Contact            

                        </a>
                </ul>
            </nav>
            <div class="login-form" text-align="right">
                <div>
                    <form id="login-form" method="post" action="/">
                        <div class="username-container">
                            <div class="input-container clearfix">
                                <label class="hidden placeholder-text">

                                    Email or Username

                                </label>
                                <input class="input" type="text" placeholder="Email or Username" name="username" data-original-title="" title=""></input>
                            </div>
                        </div>
                        <div class="password-container">
                            <div class="input-container clearfix">
                                <label class="hidden placeholder-text">

                                    Password

                                </label>
                                <input class="input" type="password" placeholder="Password" name="password" data-original-title="" title=""></input>
                            </div>
                        </div>
                        <a id="login-btn" href="javascript:;">

                            Log In 

                            <span class="icon"></span>
                        </a>
                    </form>
                </div>
                <a id="forgot-btn" href="javascript:;">


                              Forgot password?        

                </a>
            </div>
        </div>
    </div>
    </header>
  <body>

   <img src="/background/0.jpg" name="slide" style='width:100%;height:100%' alt='[]'>
  <script type="text/javascript">

  var step=1
  function slideit() {
  document.images.slide.src=eval("image" + step + ".src")
  if(step<3)
    step++
  else 
    step=1
    setTimeout("slideit()", 10 * 1000)
  }
  slideit()

  </script>
    



 <% if flash[:errors] && !flash[:errors].empty? %>
   <div id="errors">
      <% flash[:errors].each do |error| %>
         <%= error %>
    </div>
      <% end %>
    </ul>
  <% end %>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
   <%= yield %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>