<div>
<h2 class="form-signin-heading">Please sign in</h2>

	<form class-"form-signin" action="/api/sessions" method="post">
	  <label for="inputEmail" class="sr-only" for "username"> Username: </label><input name="username" type="text">
	  <label for="inputPassword" cladd="sr-only"> Password: </label><input name="password" type="password">
	  <p></p>
	  <button class="bt btn-lg btnprimary btn-block" type="submit" value="Sign in" id="submit">Submit
	</form
</div>
