<div class="container" style="margin:0 auto;width:40em">

<div class="jumbotron" style="background:rgba(225, 225, 225, 0.8);color:white;margin-top:20%">
<div class="input group">

<h1>Please sign in</h1>

	<form action="/sessions" method="post">
	  <label for "username"> Username: </label><input name="username" class="form-control" type="text">
	  <label for "password"> Password: </label><input name="password" class="form-control" type="password">
	  <p></p>
	  <input id="login-btn submit" style="color:black" type="submit" value="Sign in" id="submit">
	</form>
</div>
</div>

