
<div class="container" style="margin-top:12%;margin-left:12%">
<div class="container" style="float:left;width:40em">
  <h1 style="color:white"> Welcome to Chitter </h1>
</div>




<div class="jumbotron" style="float:left;background:rgba(225, 225, 225, 0.8);color:white;width:40em">
<div class="input group">
<h2 style="text-align:center"> Please sign up: </h2>

<section id="new-user">
  <form action="/api/users" method="post">
    <label for "username"> Username: </label><input class="form-control" type="text" name="username">
    <label for "email"> Email: </label><input class="form-control" type="text" name="email">
    <label for "password"> Password: </label><input class="form-control"type="password" name="password">
    <label for "password_confirmation"> Password Confirmation: </label><input class="form-control" type="password" name="password_confirmation">
    <p></p>

   <button align="center" type="button" class="btn btn-default btn-lg" type="submit" name="Sign up" value="Sign up" id="submit">Sign up
   </button>
  </form>
</section>
</div>
</div>
</div>
</div>








